body
{
	margin: 0px;
	padding: 0px;
	/*color: #333333;*/
	background: #002240;
	/*font-family: verdana, arial, helvetica, sans-serif;*/
}

#container
{
    border: 1px solid #999999;
    padding: 0px;
    margin: 0px auto;
    /*width: 1500px;*/
    height: 2550px;
    min-height: 100%;
    color: #333333;
    background-color: #FFFFFF; 
}

#header
{
    display: block;
    width: 100%;
}

#header #logo
{
    float: left;
    padding-left:13px;
    padding-top:10px;
    padding-bottom:10px;
}

#header #ADHead
{
    float: right;
    padding-right:13px;
    padding-top:8px;
    display:inline-block;
}


#menuBar
{
    clear: both;
    height: 35px;
    background-color: #D7D7D7;
    overflow: hidden;
    
    border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 1px;
    
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
}

#menu
{
    clear:both;
    float: left;
    margin-top: 8px;  
    margin-left:6px;    
}

.MainMenu
{
    color: #333333;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    margin-left:12px;
    margin-right:12px;
    text-decoration: underline;
}

.MainMenuSelected
{
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    margin-left:12px;
    margin-right:12px;
    font-weight: bold;
    text-decoration: none;
}


#content
{
    clear:both;
    /*padding:15px;*/
    padding-left:20px;
    padding-right:20px;
    font-size: 12px;
    line-height: 1.6em;
    min-height:500px;
}


#copyright
{
    clear:both;
    text-align: center;
    font-size: 10px;
    padding: 11px;
    background: #CACACA url(Image/barCopyRight.gif) repeat-x left top;
 
    border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 1px;
}

#UpdateProgressBar
{
    position: absolute;
    left: 46%;
    top: 300px;
    
    border: 2px solid #003DDC;
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
}

a:link
{
    color: #2955A0;
}

a:visited
{
    color: #551a8b;
}


#NormalBody
{
    margin: 5px;
    padding: 5px;
    color: #333333;
    font-size: 14px;
    line-height: 1.7em;
    background-color: #FFFFFF;
    background-image: none;
    background-repeat: no-repeat;
}

.MJXp-display
{
    display: none!important
}
