---
layout: default
main-class: 'clase'
---

<main class="home" id="scroll" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <h1 class="title-category">Clases</h1>
    <div id="grid" class="row flex-grid">
    {% for post in site.posts %}
        {% if post.main-class == 'clase' %}
            <article class="box-item post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <span class="ribbon"><span>{{post.main-class}}</span></span>
                    <div class="box-body">
                        <meta itemprop="datePublished" content="{{post.date | date_to_xmlschema }}">
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <h2 class="post-title" itemprop="name">
                                {{ post.title }}
                            </h2>
                        </a>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <p class="description">{{ post.introduction }}</p>
                        </a>
                        <div class="tags">
                            {% for tag in post.tags %}
                                <a href="/tags/#{{tag | slugify }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
            </article>
        {% endif %}
    {% endfor %}
    </div>
</main>